* {
	margin: 0;
	padding: 0;
}

:root {
	font-size: 16px;
	--page-division: 38.1966;
	--main-color: #4710c1;
	--light-grey: #cccccc;
	--dark-grey: #888888;
}

html {
	scroll-behavior: smooth;
	font-family: "Open Sans", sans-serif;
}

body {
	display: flex;
}

.cover {
	width: calc(var(--page-division)*1vw);
	background-color: var(--main-color);
}

.position {
	position: fixed;
	top: 50vh;
	margin-top: -160px;
	width: calc(var(--page-division)*1vw);
	text-align: center;
	color: whitesmoke;
}

.profile {
	margin-left: auto;
	margin-right: auto;
	width: 160px;
	height: 160px;
	background-image: url("photo.jpg");
	border-radius: 50%;
	background-size: cover;
	background-position: 58% 0;
	text-align: center;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.541), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}

.intro {
	margin-left: auto;
	margin-right: auto;
}

.cover h3 {
	margin-top: 30px;
	font-weight: 700;
	font-size: 1.6rem;
	line-height: 2.6rem;
	letter-spacing: 0.01em;
}

.cover h4 {
	font-weight: lighter;
	font-size: 1.6rem;
}

h5 {
	font-size: 1.5rem;
	color: var(--main-color);
	margin-bottom: 15px;
}

.socialmedia {
	margin-top: 5px;
	font-size: 20px;
	display: inline-flex;
}

.socialmedia i {
	margin: 10px;
}

.socialmedia a {
	color: whitesmoke;
}

.page {
	width: calc((91 - var(--page-division))*1vw);
	margin: 0px auto 20px auto;
}

.page h6 {
	color: var(--light-grey);
	margin: 0;
	position: relative;
	text-align: right;
	right: 109%;
	top: 60px;
	font-size: 1rem;
}

.nav {
	position: fixed;
	background: white;
	width: calc((93 - var(--page-division))*1vw);
	height: 60px;
	font-size: 1.1rem;
	z-index: 1;
}

.nav ul {
	display: flex;
	justify-content: space-around;
	width: 60%;
	padding: 20px 0;
}

.nav li {
	display: inline;
}

.nav li a {
	display: block;
	color: var(--dark-grey);
	text-align: center;
	text-decoration: none;
	font-weight: 700;
	transition: all 0.15s ease-in-out;
}

.nav li a:hover {
	color: black;
	border-bottom: 4px solid var(--main-color);
}

.content {
	margin-top: 0px;
	margin-right: 25px;
	color: var(--dark-grey);
	font-size: 1.2rem;
	line-height: 2rem;
	text-align: justify;
}

.aboutme p {
	margin-top: 30px;
}

.portfolio {
	margin: 20px 0 0 0;
	text-align: left;
	width: 100%;
}

.project {
	display: inline-block;
	text-align: left;
	margin: 10px 30px 0px 0;
	width: 210px;
	height: 220px;
	overflow: hidden;
}

.project a {
	text-decoration: none;
	color: inherit;
	font-size: 1.2rem;
}

.project p {
	padding: 5px 0;
	margin-top: 5px;
	font-weight: 700;
	color: black;
}

.screenshot {
	width: 100%;
	height: 150px;
	box-sizing: border-box;
	position: relative;
	background-color: var(--main-color);
}

.project .screenshot img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	opacity: 1;
	transition: opacity 0.3s ease-in-out;
}

.screenshot img:hover {
	opacity: 0.2;
}

.screenshot p {
	text-align: center;
	position: relative;
	top: 30%;
	color: whitesmoke;
	font-size: 2.5rem;
	font-weight: normal;
}

.screenshot i {
	margin: 10px;
}

.form {
	padding: 0px;
	margin: 25px 0 0 0;
}

form input[type="text"],
form input[type="email"],
form textarea {
	border: none;
	border-bottom: 1px solid #888;
	margin-bottom: 10px;
	font-family: "Open Sans", sans-serif;
	font-size: 1rem;
	line-height: 1.5rem;
	margin: 1.2rem 0;
}

form textarea {
	resize: both;
	overflow: auto;
	line-height: 1.5rem;
}

.form i {
	color: var(--main-color);
	margin-right: 9px;
}

.form i.fa-comment {
	position: relative;
	bottom: 1rem;
}

form input[type="submit"] {
	width: 150px;
	height: 2rem;
	margin: 20px 0 30px 0;
	position: relative;
	left: 30px;
	background-color: var(--main-color);
	color: white;
	font-size: 1rem;
	font-weight: 500;
	border: none;
	border-radius: 6px;
	cursor: pointer;
}

@media screen and (max-width: 600px), (orientation: portrait) {
	:root {
		font-size: 12px;
	}

	body {
		display: block;
	}

	.cover {
		width: 100vw;
		height: 60vh;
	}

	.position {
		position: relative;
		margin: 0;
		width: 100%;
		top: 15%;
	}

	.nav {
		position: sticky;
		width: 100vw;
		height: 5vh;
	}

	.nav ul {
		margin-right: auto;
		margin-left: auto;
		width: 60vw;
		justify-content: space-between;
	}
	.nav li a {
		color: black;
	}
	.page {
		width: 100vw;
	}

	.page h6 {
		display: none;
	}

	.content {
		text-align: justify;
		line-height: 2.3rem;
		margin-right: 30px;
		margin-left: 30px;
	}

	.aboutme {
		margin-top: -10px;
	}

	.portfolio {
		margin-top: 30px;
		text-align: center;
	}

	.project {
		margin-right: 0;
		height: 200px;
	}
	.project p {
		font-size: 1.4rem;
		border-bottom: 3px solid var(--main-color);
		width: fit-content;
	}

	form input[type="submit"] {
		position: static;
		margin: 10px auto 30px 30px;
	}
}

/* 
DO ZROBIENIA

- wprowadz tagi HTML5  

- wrzucić do autoprefixera? 

 */
